body {
	font-family: monospace;
	font-size: 18px;
	background: #6ac0bd;
	color: #666;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

.bottom-trees {
	background: transparent url('../images/trees.png') repeat-x center 100%;
	height: 150px;
	background-clip: content-box;
	background-size: 100% 170px;
	position: relative;
	bottom: 0;
	top: 100%;
	width: 100%;
}

.wrapper {
	min-height: 360px;
	position: relative;
	overflow: hidden;
	display: table;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.container {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
}

.happy-birthday {
	width: 485px;
	height: 326px;
	margin: auto;
	position: relative;
	top: 32px;
	display: block;
	background: transparent url(../images/happy-birthday.png) no-repeat;
}

.scene {
	padding: 0;
	margin: 0;
}

#scene {
	display: block;
	width: 100%;
	height: 510px;
	z-index: 1;
	position: relative;
	margin: 0px auto;
}

.scene .layer {
	position: absolute;
	top: 0%;
	width: 99%;
}

.balloon1 {
	position: absolute;
	width: 273px;
	height: 462px;
	right: 0;
	left: 36%;
	background: transparent url(../images/balloon1.png) no-repeat;
	-webkit-transform-origin: 50% 90%;
	-moz-transform-origin: 50% 90%;
	transform-origin: 50% 90%;
	-webkit-animation: hotairballoon1 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: hotairballoon1 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: hotairballoon1 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.balloon2 {
	position: absolute;
	width: 215px;
	height: 335px;
	right: 0;
	left: 65%;
	margin-top: 5%;
	background-image: url(../images/balloon2.png);
	background-repeat: no-repeat;
	-webkit-transform-origin: 50% 90%;
	-moz-transform-origin: 50% 90%;
	transform-origin: 50% 90%;
	-webkit-animation: hotairballoon 4s 0.1s infinite alternate cubic-bezier(0.255, 0.03, 0.315, 0.755);
	-moz-animation: hotairballoon 4s 0.1s infinite alternate cubic-bezier(0.255, 0.03, 0.315, 0.755);
	animation: hotairballoon 4s 0.1s infinite alternate cubic-bezier(0.255, 0.03, 0.315, 0.755);
}
.balloon3 {
	position: absolute;
	width: 215px;
	height: 335px;
	right: 0;
	left: 10%;
	margin-top: 7%;
	background-image: url(../images/balloon3.png);
	background-repeat: no-repeat;
	-webkit-transform-origin: 50% 90%;
	-moz-transform-origin: 50% 90%;
	transform-origin: 50% 90%;
	-webkit-animation: hotairballoon 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: hotairballoon 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: hotairballoon 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.cloud1 {
	position: absolute;
	width: 144px;
	height: 98px;
	right: 0;
	left: 10%;
	margin-top: -3%;
	background-image: url(../images/cloud1.png);
	background-repeat: no-repeat;
	-webkit-transform-origin: 50% 90%;
	-moz-transform-origin: 50% 90%;
	transform-origin: 50% 90%;
	-webkit-animation: cloud1 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: cloud1 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: cloud1 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cloud2 {
	position: absolute;
	width: 191px;
	height: 133px;
	right: 0;
	left: 70%;
	margin-top: -2%;
	background-image: url(../images/cloud2.png);
	background-repeat: no-repeat;
	-webkit-transform-origin: 50% 90%;
	-moz-transform-origin: 50% 90%;
	transform-origin: 50% 90%;
	-webkit-animation: cloud2 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: cloud2 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: cloud2 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cloud3 {
	position: absolute;
	width: 110px;
	height: 75px;
	right: 0;
	left: 60%;
	margin-top: -4%;
	background-image: url(../images/cloud3.png);
	background-repeat: no-repeat;
	-webkit-transform-origin: 50% 90%;
	-moz-transform-origin: 50% 90%;
	transform-origin: 50% 90%;
	-webkit-animation: cloud1 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: cloud1 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: cloud1 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cloud4 {
	position: absolute;
	width: 155px;
	height: 105px;
	right: 0;
	left: 50%;
	margin-top: 15%;
	background-image: url(../images/cloud4.png);
	background-repeat: no-repeat;
	-webkit-transform-origin: 50% 90%;
	-moz-transform-origin: 50% 90%;
	transform-origin: 50% 90%;
	-webkit-animation: cloud2 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: cloud2 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: cloud2 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cloud5 {
	position: absolute;
	width: 173px;
	height: 115px;
	right: 0;
	left: 20%;
	margin-top: 10%;
	background-image: url(../images/cloud5.png);
	background-repeat: no-repeat;
	-webkit-transform-origin: 50% 90%;
	-moz-transform-origin: 50% 90%;
	transform-origin: 50% 90%;
	-webkit-animation: cloud2 8s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-moz-animation: cloud2 8s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: cloud2 8s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


@-webkit-keyframes hotairballoon {
  0% {
    -webkit-transform: translate3d(7%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(7%,0,0) rotateZ(5deg);
    transform: translate3d(7%,0,0) rotateZ(5deg);
  }

  100% {
    -webkit-transform: translate3d(-7%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-7%,0,0) rotateZ(-5deg);
    transform: translate3d(-7%,0,0) rotateZ(-5deg);
  }
}
@-moz-keyframes hotairballoon {
  0% {
    -webkit-transform: translate3d(7%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(7%,0,0) rotateZ(5deg);
    transform: translate3d(7%,0,0) rotateZ(5deg);
  }

  100% {
    -webkit-transform: translate3d(-7%,0,0) rotateZ(-5deg);
    -moz-transform: translate3d(-7%,0,0) rotateZ(-5deg);
    transform: translate3d(-7%,0,0) rotateZ(-5deg);
  }
}
@keyframes hotairballoon {
  0% {
    -webkit-transform: translate3d(7%,0,0) rotateZ(3deg);
    -moz-transform: translate3d(7%,0,0) rotateZ(3deg);
    transform: translate3d(7%,0,0) rotateZ(3deg);
  }

  100% {
    -webkit-transform: translate3d(-3%,0,0) rotateZ(-3deg);
    -moz-transform: translate3d(-3%,0,0) rotateZ(-3deg);
    transform: translate3d(-3%,0,0) rotateZ(-3deg);
  }
}
@keyframes hotairballoon1 {
  0% {
    -webkit-transform: translate3d(-3%,0,0) rotateZ(-3deg);
    -moz-transform: translate3d(-3%,0,0) rotateZ(-3deg);
    transform: translate3d(-3%,0,0) rotateZ(-3deg);
  }
  100% {
    -webkit-transform: translate3d(7%,0,0) rotateZ(3deg);
    -moz-transform: translate3d(7%,0,0) rotateZ(3deg);
    transform: translate3d(7%,0,0) rotateZ(3deg);
  }
}

/*--------------*/

@-webkit-keyframes cloud1 {
  0% { 
		-webkit-transform: translateX(0);
		animation-timing-function: ease-in;
	}
	50% { 
		-webkit-transform: translateX(-50%);
		animation-timing-function: ease-in;
	}
	100% { 
		-webkit-transform: translateX(0);
		animation-timing-function: ease-in;
	}
}
@-moz-keyframes cloud1 {
	0% { 
		-moz-transform: translateX(0);
		animation-timing-function: ease-in;
	}
	50% { 
		-moz-transform: translateX(-50%);
		animation-timing-function: ease-in;
	}
	100% { 
		-moz-transform: translateX(0);
		animation-timing-function: ease-in;
	}
}
@keyframes cloud1 {
	0% { 
		transform: translateX(0);
		animation-timing-function: ease-in;
	}
	50% { 
		transform: translateX(-50%);
		animation-timing-function: ease-in;
	}
	100% { 
		transform: translateX(0);
		animation-timing-function: ease-in;
	}
}

/*------------------------------*/


@-webkit-keyframes cloud2 {
  0% { 
		-webkit-transform: translateX(0);
		animation-timing-function: ease-in;
	}
	50% { 
		-webkit-transform: translateX(50%);
		animation-timing-function: ease-in;
	}
	100% { 
		-webkit-transform: translateX(0);
		animation-timing-function: ease-in;
	}
}
@-moz-keyframes cloud2 {
	0% { 
		-moz-transform: translateX(0);
		animation-timing-function: ease-in;
	}
	50% { 
		-moz-transform: translateX(50%);
		animation-timing-function: ease-in;
	}
	100% { 
		-moz-transform: translateX(0);
		animation-timing-function: ease-in;
	}
}
@keyframes cloud2 {
	0% { 
		transform: translateX(0);
		animation-timing-function: ease-in;
	}
	50% { 
		transform: translateX(50%);
		animation-timing-function: ease-in;
	}
	100% { 
		transform: translateX(0);
		animation-timing-function: ease-in;
	}
}